services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sankrypt_app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - .:/var/www
    ports:
      - "8000:8000"
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
    networks:
      - sankrypt_network

networks:
  sankrypt_network:
    driver: bridge